.header-2-block
  display none !important

.header-v2
  display flex
  justify-content space-between
  height 80px
  align-items center


.header-auth
  box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.569);

.auth-profile
  display flex

.auth-profile__logo
  size(45px)
  margin-left 30px

.auth-profile-info

  a
    color #01AAFF
    font-size 12px

.profile-my-room
  text-align center
  padding-top 70px