section.breadcrumbs
    .container
        ul.breadcrumbs-list
            li.breadcrumbs-items
                a(href="/") Home
            li.breadcrumbs-items
                a(href="/") Sport, Hobby & Freizeit
            li.breadcrumbs-items
                a(href="/") Fahrräder
            li.breadcrumbs-items
                a(href="/") Mountainbikes
            li.breadcrumbs-items Mountainbike Pioneer Maxx

        .breadcrumb-controls
            a.breadcrumb-prev.breadcrumb-arrows(href="/") Zurück
                +icon('arrow-prev')
            a.breadcrumb-next.breadcrumb-arrows(href="/") Weiter
                +icon('arrow-prev')

