section.breadcrumbs
    .container
        ul.breadcrumbs-list
            li.breadcrumbs-items
                a(href="/") Home
            li.breadcrumbs-items
                a(href="/") Sport, Hobby & Freizeit
            li.breadcrumbs-items
                a(href="/") Fahrräder
