footer
    .container
        .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.footer-main-wrap
            .col-sm-3.col-md-3.col-xl-3.footer-logo-and-writ.footer-width
                a.footer-logo-link(href="/")
                    +icon('logo')
                a.willhaben-button.footer-ad-writ(href="/") Anzeige aufgeben
            .col-sm-4.col-md-4.col-xl-4.d-flex.justify-content-between.footer-width
                ul.footer-lists
                    li.footer-items
                        a.footer-item__links(href="/") Anzeige aufgeben
                    li.footer-items
                        a.footer-item__links(href="/") Anzeigen
                    li.footer-items
                        a.footer-item__links(href="/") Hilfe
                    li.footer-items
                        a.footer-item__links(href="/") Sicherheitshinweise
                ul.footer-lists
                    li.footer-items
                        a.footer-item__links(href="/") Werbung
                    li.footer-items
                        a.footer-item__links(href="/") Über uns
                    li.footer-items
                        a.footer-item__links(href="/") Jobs bei uns

            .col-sm-3.col-md-3.col-xl-3.footer-width.footer-order-3
                .footer-copy-data
                    span © 2019 willhaben. Alle Rechte vorbehalten.
                    a(href="/") Nutzungsbedingungen
                    a(href="/") Datenschutzerklärung
            .col-sm-2.col-md-2.col-xl-2.footer-width.footer-order-4
                span.footer-social--title Soziale Netzwerke
                .footer-social
                    a.footer-social__link(href="/")
                        +icon('fb')
                    a.footer-social__link(href="/")
                        +icon('vk')
                    a.footer-social__link(href="/")
                        +icon('insta')
                    a.footer-social__link(href="/")
                        +icon('ok')