header.header-auth
    .container
        .header-v2
            .header-region-choise
                span Wien
                a(href="/") Region ändern
            .logo-wrap
                +icon('logo')
            .auth-profile
                .auth-profile-info
                    span Alexander Voss
                    a(href="/") Mein Profil
                a(href="/")
                    img.auth-profile__logo(src="static/img/general/seller.png")