ul.header-areas-list
    li.header-areas-item
        a(href="/") Auto &Motor
    li.header-areas-item
        a(href="/") Immobilien
    li.header-areas-item
        a(href="/") Jobs & Kariere
    li.header-areas-item
        a(href="/") Persönliche Sachen
    li.header-areas-item
        a(href="/") Dienstleistungen
    li.header-areas-item.popup-areas-more
        a(href="/") Mehr...