.willhaben-button
  background-color #01AAFF
  font-family OSSB,sans-serif
  color #fff
  width 100%
  height 45px
  max-width 185px
  display flex
  justify-content center
  align-items center
  border-radius 6px
  font-size 14px
  text-align center
  text-decoration none
  cursor pointer

  &:hover
    color #fff