@font-face
  font-family: 'OSR';
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
          url('/static/fonts/OpenSans-Regular.woff2') format('woff2'),
          url('/static/fonts/OpenSans-Regular.woff') format('woff'),
          url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

@font-face
  font-family: 'OSB';
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
          url('/static/fonts/OpenSans-Bold.woff2') format('woff2'),
          url('/static/fonts/OpenSans-Bold.woff') format('woff'),
          url('/static/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

@font-face
  font-family: 'OSSB';
  src: local('Open Sans Semi Bold'), local('Open-Sans-Semi-Bold'),
          url('/static/fonts/OpenSans-SemiBold.woff2') format('woff2'),
          url('/static/fonts/OpenSans-SemiBold.woff') format('woff'),
          url('/static/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

@font-face
  font-family: 'OSL';
  src: local('Open Sans Light'), local('Open-Sans-Light'),
          url('/static/fonts/OpenSans-Light.woff2') format('woff2'),
          url('/static/fonts/OpenSans-Light.woff') format('woff'),
          url('/static/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

