.advert-category--form
  width 100%

.advert-select-category .catalog-size-title
  font-size: 20px;

.catalog-size-title
  font-family: OSB, sans-serif;
  color: #101014;
  margin-bottom: 6px;
  display: block;
  margin-top: 6px;

.advert-types
  margin-bottom 16px

.advert-select-category

  .inputs
    margin-left 0
    border-radius 8px
    padding-left 12px

.text-area-inputs
  height auto !important

.adretr-photo-load
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 10px 16px;
  margin-bottom: 10px;

.adretr-photo-load-recom
  font-family: OSB, sans-serif;
  display: flex;
  color #01aaff

.adretr-photo-load-recom span
  font-family: OSR, sans-serif;
  margin-left: 3px;
  color #3a3a3a

.advert-photo-load-text
  font-family: OSR, sans-serif;
  color: #3A3A3A;

.adver-photo-load-input--wrap
  position relative

.advert-wrap__all--img
  position: relative;
  display: flex;
  flex-wrap: wrap;

.advert-files-input
  position: relative;
  display: flex;
  order: 1;
  width: 96px;
  height: 80px;
  border-radius: 2px;
  margin: 8px;
  margin-left: 0;
  margin-right: 16px;
  transition: linear 0.1s;

  .icon
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    fill: rgba(104,104,116,0.4);

#files-upload
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;

.advert-wrap--img
  display: flex;
  width: 96px;
  height: 80px;
  border-radius: 2px;
  margin: 8px;
  margin-left: 0;
  margin-right: 16px;

.notice-inputs-place
  display flex
  margin-bottom 16px

.notice-inputs-platz
  max-width 133px
  margin-right 30px

.advert-category--wrap
  padding 12px 20px
  margin 0 auto

.map-title-notice
  font-size 14px
  font-family OSSB, sans-serif
  color #3a3a3a
  padding 16px 0

.notice-settings
  display flex

  .advert-inputs-attr:last-child
    padding-right 0 !important

.advert-inputs-attr

  .inputs
    margin-bottom 16px

  .selectCF
      margin-bottom 16px

  .append-icon
    width 70px
    border-left 1.5px solid #adadad;
    .icon
      right auto

.notice-check-wrap
  display flex
  justify-content space-between
  width 80%
  align-items center
  height 45px

#notice_picks
  display none

#notice_picks + label
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  margin-right: 9px;
  cursor: pointer;

#notice_picks + label:before
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid #01aaff;
  border-radius: 5px;
  display: flex;

#notice_picks:checked + label:after
  content: '';
  position: absolute;
  left: 5.5px;
  top: 9px;
  background: #fff;
  width: 2px;
  height: 2px;
  box-shadow: 4px 0px 0 #fff, 2px 0px 0 #fff, -2px 0px 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -7px 0 #fff, 4px -9px 0 #fff;
  transform: rotate(45deg);


#notice_picks:checked + label:before
  background-color #01aaff



#notice_gar
  display none

#notice_gar + label
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  margin-right: 9px;
  cursor: pointer;

#notice_gar + label:before
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid #01aaff;
  border-radius: 5px;
  display: flex;

#notice_gar:checked + label:after
  content: '';
  position: absolute;
  left: 5.4px;
  top: 9px;
  background: #fff;
  width: 2px;
  height: 2px;
  box-shadow: 4px 0px 0 #fff, 2px 0px 0 #fff, -2px 0px 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -7px 0 #fff, 4px -9px 0 #fff;
  transform: rotate(45deg);

#notice_gar:checked + label:before
  background-color #01aaff



.notice-check-pick,.notice-check-gar
  display flex

.advert-color-choise
  display flex

.advert-color-choise label
  position: relative;
  margin-right: 31px;
  display: flex;
  justify-content: center;
  align-items: center;

.advert-color-name
  font-size: 12px;
  font-family: OSR, sans-serif;
  position: absolute;
  background: #f7f7fa;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
  border-radius: 2px;
  padding: 5px 12px;
  color: #9f9fd3;
  opacity: 0;
  transition: linear 0.1s;
  top: -240%;
  z-index: 21;
  width: max-content;
  height 40px
  display flex
  align-items center

.advert-color-choise label:hover .advert-color-name
  opacity: 1;



.advert-color-check
  display none

.advert-color-choise-checked
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 20;

.advert-color-choise-checked.checked:before
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.24);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

.advert-FFFFFF
  background-color: #f2f2f2;

.advert-C7C7C7
  background-color: #c7c7c7;

.advert-F2E2CA
  background-color: #f2e2ca;

.advert-FFEA2F
  background-color: #ffea2f;

.advert-FFB82F
  background-color: #ffb82f;

.advert-FF2F2F
  background-color: #ff2f2f;

.advert-11D200
  background-color: #11d200;

.advert-2FB4FF
  background-color: #2fb4ff;

.advert-332FFF
  background-color: #332fff;

.advert-A32FFF
  background-color: #a32fff;

.advert-E22FFF
  background-color: #e22fff;

.advert-FF88F3
  background-color: #ff88f3;

.advert-000000
  background-color: #000;

.advert-border-f2f2f2
  border: 1.2px solid #f2f2f2;
  color: #f2f2f2;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-c7c7c7
  border: 1.2px solid #c7c7c7;
  color: #c7c7c7;

  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-f2e2ca
  border: 1.2px solid #f2e2ca;
  color: #f2e2ca;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-FFEA2F
  border: 1.2px solid #FFEA2F;
  color: #FFEA2F;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-FFB82F
  border: 1.2px solid #FFB82F;
  color: #FFB82F;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-FF2F2F
  border: 1.2px solid #FF2F2F;
  color: #FF2F2F;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-11D200
  border: 1.2px solid #11D200;
  color: #11D200;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-2FB4FF
  border: 1.2px solid #2FB4FF;
  color: #2FB4FF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px


.advert-border-332FFF
  border: 1.2px solid #332FFF;
  color: #332FFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-A32FFF
  border: 1.2px solid #A32FFF;
  color: #A32FFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-E22FFF
  border: 1.2px solid #E22FFF;
  color: #E22FFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-FF88F3
  border: 1.2px solid #FF88F3;
  color: #FF88F3;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-border-000000
  border: 1.2px solid #000000;
  color: #000000;
  text-shadow: 0px 1px 3px #fff;
  padding: 0px 25px;
  font-family OSB, sans-serif
  border-radius 6px

.advert-to-choise
  display flex
  justify-content space-between

  label
    display flex

.advert-to-check
  display none

.advert-to-choise-checked
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 20;
  border: 1px solid #686874;
  margin-right: 16px;
  background-color: #01aaff;

.advert-to-choise-checked.checked
  background-color: #01aaff;

.advert-to-choise-checked.checked:before
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.24);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

.advert-to-choise-email-label
  font-size 12px
  font-family OSSB, sans-serif
  color #3a3a3a
  margin-top 8px

.advert-checked-block
  display: flex;
  background: #fff;
  border-radius: 2px;
  height: 47px;

.advert-pos, .advert-sob
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #adadad;
  cursor: pointer;
  font-family: OSSB, sans-serif;
.advert-pos
  border-radius 0 6px 6px 0

.advert-sob
  border-radius 6px 0 0 6px
  border-right none
.advert-sob.uncheck
  background-color: #01aaff;
  color: #fff;
  height: 100%;
  border: 1.5px solid #01aaff;

.advert-pos.checked
  background-color: #01aaff;
  color: #fff;
  height: 100%;
  border: 1.5px solid #01aaff;

.advert-checked-block-check
  display none

.catalog-size-title
  font-family: OSB, sans-serif;
  color: #101014;
  margin-bottom: 6px;
  display: block;
  margin-top: 6px;

.advert-method--lists
  margin-bottom 32px

.advert-method-items
  border: 1.5px solid #adadad;
  border-radius 6px
  padding: 24px 65px;
  margin-bottom: 16px;

.advert-wrappers
  display: flex;
  padding-bottom: 16px;

.advert-button-choise-input
  display none


.willhaben-button .advert-button-choise
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;

.advert-button-choise.checked
  background-color: transparent;
  color:#01aaff;
  border: 1.5px solid #01aaff;

  &:hover
    color #01aaff !important
.advert-button-choise
  max-width 100% !important
  &:hover
    color #FFF !important

.advert-icon-wrap
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 24px;

  .icon
    size(64px)

.advert-stand--info
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

.advert-stand-free
  display flex
  align-items center

.advert-stand-free span
  font-family: OSSB, sans-serif;
  margin-right: 10px;

.advert-stand-free p
  font-family: OSR, sans-serif;
  font-size: 14px;
  color: #01aaff;

.advert-stand--info--text
  color: #686874;
  font-family: OSR, sans-serif;

.advert-button-submit
  background-color: transparent !important
  color:#01aaff !important
  border: 1.5px solid #01aaff !important
  margin 0 auto
.advert-map
  width 100%
  display flex


.message-area-all-item
  width 100%

.message-area-all-item__info
  width 100%


