section.catalog--index
    .container
        .catalog-wrap
            h4.section-title Das beste für Sie
            ul.catalog-items--list
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Fahrrad
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/2.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Fahrrad
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/3.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Heute
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/4.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Helm
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Heute
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/2.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Roller
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/3.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Roller
                        .catalog-city__name Wien
                li.catalog-items--item
                    a.catalog-items--item--link__img(href="/")
                        img.catalog-items--item__img(src="/static/img/content/catalog/4.png")
                    .catalog-info-block
                        .catalog-price-info
                            span 700 €
                            .catalog-date-info Heute
                                span 12:40
                        a.catalog-name__item(href="/") Helm
                        .catalog-city__name Wien
            a.willhaben-button.catalog-button--load-more(href="/") Alle sehen

