section.all-adverts
    .container
        .all-adverts-wrap
            h4.title-little Alle Anzeigen in Wien
            .all-adverts--list-ul
                ul.all-adverts--list
                    li.all-adverts--item
                        a(href="/") Immobilien
                    li.all-adverts--item
                        a(href="/") Auto & Motor
                ul.all-adverts--list
                    li.all-adverts--item
                        a(href="/") Sport, Hobby und Freizeit
                    li.all-adverts--item
                        a(href="/") Elektronick
                ul.all-adverts--list
                    li.all-adverts--item
                        a(href="/") Dienstleistungen
                    li.all-adverts--item
                        a(href="/") Haushalt
                ul.all-adverts--list
                    li.all-adverts--item
                        a(href="/") Jobs & Kariere
                    li.all-adverts--item
                        a(href="/") Persönliche Sachen
                ul.all-adverts--list
                    li.all-adverts--item
                        a(href="/") Business

