section.all-categ
    .container
        .categories-all-wrap
            .categories-all-wrap-ul
                ul.categories-all-list
                    h4.title-categ Auto & Motor
                    li.categories-all-item
                        a(href="/") Autos
                    li.categories-all-item
                        a(href="/") Motorräder und Quard
                    li.categories-all-item
                        a(href="/") Nutzfahrzeug und Pickup
                    li.categories-all-item
                        a(href="/") Wassertransport
                    li.categories-all-item
                        a(href="/") Ersatzteile und Zubehör


                ul.categories-all-list
                    h4.title-categ Elektronick
                    li.categories-all-item
                        a(href="/") Audio und Video
                    li.categories-all-item
                        a(href="/") Games und Konsolen
                    li.categories-all-item
                        a(href="/") PCs
                    li.categories-all-item
                        a(href="/") Notebooks
                    li.categories-all-item
                        a(href="/") Tablets und E-Book-Reader
                    li.categories-all-item
                        a(href="/") Smartphones und Telefonie
                    li.categories-all-item
                        a(href="/") PC-Komponenten
                    li.categories-all-item
                        a(href="/") Kameras
                    li.categories-all-item
                        a(href="/") Büroausstattung und Verbrauchsmaterial

            .categories-all-wrap-ul
                ul.categories-all-list
                    h4.title-categ Immobilien
                    li.categories-all-item
                        a(href="/") Wohnungen
                    li.categories-all-item
                        a(href="/") Zimme
                    li.categories-all-item
                        a(href="/") Häuser
                    li.categories-all-item
                        a(href="/") Grundstücke
                    li.categories-all-item
                        a(href="/") Weitere Objekte
                    li.categories-all-item
                        a(href="/") Gewerbeimmobilien
                    li.categories-all-item
                        a(href="/") Immobilien im Ausland

                ul.categories-all-list
                    h4.title-categ Sport, Hobby & Freizeit
                    li.categories-all-item
                        a(href="/") Tickets und Reisen
                    li.categories-all-item
                        a(href="/") Fahrräder
                    li.categories-all-item
                        a(href="/") Bücher und Zeitschriften
                    li.categories-all-item
                        a(href="/") Sammeln
                    li.categories-all-item
                        a(href="/") Musikinstrumente
                    li.categories-all-item
                        a(href="/") Jagt und Angeln
                    li.categories-all-item
                        a(href="/") Sport und Freizeit

            .categories-all-wrap-ul
                ul.categories-all-list
                    h4.title-categ Arbeit
                    li.categories-all-item
                        a(href="/") Jobsuche
                    li.categories-all-item
                        a(href="/") CV

                ul.categories-all-list
                    h4.title-categ Hazshalt
                    li.categories-all-item
                        a(href="/") Haushaltsgeräte
                    li.categories-all-item
                        a(href="/") Möbel und Innenraum
                    li.categories-all-item
                        a(href="/") Geschirr und Küchenprodukte
                    li.categories-all-item
                        a(href="/") Lebensmittel
                    li.categories-all-item
                        a(href="/") Reparatur und Aufbau
                    li.categories-all-item
                        a(href="/") Pflanzen
                ul.categories-all-list
                    h4.title-categ Business
                    li.categories-all-item
                        a(href="/") Business
                    li.categories-all-item
                        a(href="/") Geschäftsausstattung



            .categories-all-wrap-ul
                ul.categories-all-list
                    h4.title-categ Dienstleistungen

                ul.categories-all-list
                    h4.title-categ Tiere
                    li.categories-all-item
                        a(href="/") Hunde
                    li.categories-all-item
                        a(href="/") Katzen
                    li.categories-all-item
                        a(href="/") Fögel
                    li.categories-all-item
                        a(href="/") Aquarium
                    li.categories-all-item
                        a(href="/") Andere Tiere
                    li.categories-all-item
                        a(href="/") Tierbedarf

                ul.categories-all-list
                    h4.title-categ Persönliche Sachen
                    li.categories-all-item
                        a(href="/") Kleidung, Schuhe, Accessoires
                    li.categories-all-item
                        a(href="/") Kledung für Kinder
                    li.categories-all-item
                        a(href="/") Spielzeug
                    li.categories-all-item
                        a(href="/") Uhren und Schmuck
                    li.categories-all-item
                        a(href="/") Beauty und Gesundheit

