.profile-my-room-tab
    h4.profile-tab-title Entgeltliche dienste
    .profile-tabs-my-room
        .profile-tabs-my-room-tab.active(data-area="bye-pack") Pakete
        .profile-tabs-my-room-tab(data-area="bye-ser") Verkaufsförderung
    .profile-tabs-my-room--content-wrapper
        .profile-tabs-my-room--content.bye-pack.active
            h4.purce-balanse-rep Fragen und Antworten
            p.rating-area-tab-desc Frage? Antwort
            .bye-button-tab.willhaben-button Tarif wählen
        .profile-tabs-my-room--content.bye-ser