section.advert-content--wrap
    .container
        .advert-main
            .advert-main--info
                .col-md-7.col-lg-7.col-xl-7.adverts-padding-left
                    .advert-slider-product-js--wrap
                        .advert-slider-product-js
                            img.advert-slider-img-slick(src="static/img/content/slider/velo.png")
                            img.advert-slider-img-slick(src="static/img/content/slider/velo.png")
                            img.advert-slider-img-slick(src="static/img/content/slider/velo.png")
                            img.advert-slider-img-slick(src="static/img/content/slider/velo.png")
                            img.advert-slider-img-slick(src="static/img/content/slider/velo.png")
                        .adverts-controls--arrows
                            .advers-slider__control-prev.adverts-slider__arrows
                                +icon('arrows-prev')
                            .advers-slider__control-next.adverts-slider__arrows
                                +icon('arrows-next')
                    .advers-js-attention-slider__nav
                        img.advert-slider-img-slick__nav(src="static/img/content/slider/velo.png")
                        img.advert-slider-img-slick__nav(src="static/img/content/slider/velo.png")
                        img.advert-slider-img-slick__nav(src="static/img/content/slider/velo.png")
                        img.advert-slider-img-slick__nav(src="static/img/content/slider/velo.png")
                        img.advert-slider-img-slick__nav(src="static/img/content/slider/velo.png")
                .col-md-5.col-lg-5.col-xl-5.advert-info__case
                    .advert-slider-info
                        h4.catalog-item-title Mountainbike Pioneer Maxx
                        .advert-catalog--item-summ-and-date
                            span.advert-catalog--item__summ 700 €
                            span.advert-catalog--item__date Heute 12:40
                        p.advert-catalog--item__adress Wien, Matzleinsdorfer Platz, 7
                        .advert-catalog--map-case
                            .arvert-catalog--map-full-view zu Karte
                            .advert-map-case
                                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A094298417c358b2a1113a06a0d99567e0d80aef7d1f467b2804db38bff206e20&amp;width=1177&amp;height=250&amp;lang=ru_RU&amp;scroll=true")
                        .advert-catalog--connect--seller
                            .willhaben-button.advert-catalog--show--phone Anrufen
                            script.
                                $('.advert-catalog--show--phone').click(function () {
                                   $(this).text('8-800-800-80-80')
                                });
                            .willhaben-button.advert-catalog--send--massage Nachricht senden
                        .advert-catalog-profile-seller
                            .advert-catalog-profile-seller--info
                                span.advert-catalog-profile-sel Verkäufer
                                span.advert-catalog-profile-seller-name Alexander Voss
                                span.advert-catalog-profile-seller-web registriert auf der Website seit 12.12.2009
                                span.advert-catalog-profile-seller-web 27 Ankündigungen abgeschlossen
                            a(href="/")
                                img.advert-catalog-profile-seller--photo(src="static/img/general/seller.png")
                        a(href="/").willhaben-button.advert-catalog-profile-seller-all alle Anzeigen des Verkäufers (63)
            .advert-seller-item-desc--wrap
                h4.advert-seller-item-title Beschreibung
                p.advert-seller-item-desc Mountainbike in einwandfreiem Zustand mit vielen Extras
            .other-adverts-seller
                h4.advert-seller-item-title Andere Anzeigen von Alexander Voss
                ul.catalog-items--list
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Fahrrad
                            .catalog-city__name Вена
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/2.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/3.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/4.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/3.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/4.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                a.willhaben-button.catalog-button--load-more(href="/") Alle sehen
            .case--watched
                h4.section-title Änliche Anzeigen
                ul.catalog-items--list
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/1.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/2.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/3.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                    li.catalog-items--item
                        a.catalog-items--item--link__img(href="/")
                            img.catalog-items--item__img(src="/static/img/content/catalog/4.png")
                        .catalog-info-block
                            .catalog-price-info
                                span 700 €
                                .catalog-date-info Heute
                                    span 12:40
                            a.catalog-name__item(href="/") Helm
                            .catalog-city__name Wien
                a.willhaben-button.catalog-button--load-more(href="/") Alle sehen
